/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* reset */
* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display:flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  /* select icon removed */
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row {
  display: flex;
}